.new-tweet {
  display: none;
  padding: $space-xx-small;
  margin-bottom: $space-xx-large;
  background-color: $color-almost-white;
  border: 1px solid $color-light-gray;
  border-radius: $space-xxx-small;

  h2 {
    margin-top: $space-xx-small;
    border-bottom: 1px solid $color-black;
  }

  .new-tweet-textarea {
    width: 100%;
    padding: $space-xxx-small;
  }

  .counter {
    float: right;
    margin-top: $space-xx-small;
    font-style: italic;
  }

  .error-message {
    margin-left: $space-xx-small;
    font-size: $font-body-size-smaller;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.1s linear;

    &.visible {
      opacity: 1;
      visibility: visible;
    }
  }
}

#new-tweet-button {
  padding: $space-xxx-small $space-small;
  margin-top: $space-xxx-small;
  color: $color-white;
  background-color: $color-green-light;
  border: 0;
  border-radius: $space-xxx-small;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    opacity: 0.8;
  }

  &.disabled,
  &.disabled:hover {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.error {
  color: $color-red;
}
