.new-tweet {
  display: none;
  padding: 0.5rem;
  margin-bottom: 3rem;
  background-color: $color-almost-white;
  border: 1px solid $color-light-gray;
  border-radius: 4px;

  h2 {
    margin-top: 0.5rem;
    border-bottom: 1px solid $color-black;
  }

  .new-tweet-textarea {
    width: 100%;
    padding: 0.25rem;
  }

  .counter {
    float: right;
    margin-top: 0.5rem;
    font-style: italic;
  }

  .error-message {
    margin-left: 0.5rem;
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.1s linear;

    &.visible {
      opacity: 1;
      visibility: visible;
    }
  }
}

#new-tweet-button {
  padding: 0.25rem 1rem;
  margin-top: 0.25rem;
  color: $color-white;
  background-color: $color-green-light;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    opacity: 0.8;
  }

  &.disabled,
  &.disabled:hover {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.error {
  color: $color-red;
}
