#tweets-container {
  opacity: 0.8;
}

.tweet {
  margin-bottom: 2rem;
  border: 1px solid $color-light-gray;
  border-radius: 4px;
  transition: 0.3s ease;

  header {
    display: flex;
    padding: 0.5rem;
    background-color: $color-almost-white;
    border-radius: 4px;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    font-size: 0.9rem;
    border-top: 1px solid $color-light-gray;
  }

  .avatar {
    max-width: 50px;
    max-height: 50px;
    margin-right: 1rem;
  }

  .full-name {
    margin: 0;
    color: $color-darker-gray;
  }

  .username {
    margin-top: 0.3rem;
    margin-left: auto;
    color: $color-dark-gray;
  }

  .content {
    padding: 1.5rem 0.5rem;
  }

  .tweet-actions {
    cursor: pointer;
    opacity: 0;
    transition: 0.2s ease;
  }

  &:hover {
    border-color: $color-darker-gray;
    opacity: 1;

    .tweet-actions {
      opacity: 1;
    }
  }
}
