#tweets-container {
  opacity: 0.8;
}

.tweet {
  margin-bottom: $space-x-large;
  border: 1px solid $color-light-gray;
  border-radius: $space-xxx-small;
  transition: 0.3s ease;

  header {
    display: flex;
    padding: $space-xx-small;
    background-color: $color-almost-white;
    border-radius: $space-xxx-small;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $space-xx-small;
    font-size: $font-body-size-smaller;
    border-top: 1px solid $color-light-gray;
  }

  .avatar {
    max-width: 50px;
    max-height: 50px;
    margin-right: $space-small;
  }

  .full-name {
    margin: 0;
    font-size: $font-medium-size;
    color: $color-darker-gray;

    @include media($min: $bp-small) {
      font-size: $font-large-size;
    }
  }

  .username {
    margin-top: $space-xxx-small;
    margin-left: auto;
    font-size: $font-body-size-smaller;
    color: $color-dark-gray;

    @include media($min: $bp-small) {
      font-size: $font-body-size;
    }
  }

  .content {
    padding: $space-x-medium $space-xx-small;
  }

  .tweet-actions {
    cursor: pointer;
    opacity: 0;
    transition: 0.2s ease;
  }

  &:hover {
    border-color: $color-darker-gray;
    opacity: 1;

    .tweet-actions {
      opacity: 1;
    }
  }
}
