html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  color: #244751;
  background-color: #eeeeee; }

.container {
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  max-width: 450px;
  margin: 0 auto;
  background-color: #ffffff; }

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 2rem;
  color: #e8fdff;
  background-color: #00a087; }
  #nav-bar .logo {
    width: 80px;
    height: 80px; }
  #nav-bar .header {
    margin-left: 10px;
    font-size: 2rem; }
  #nav-bar .compose-tweet-button {
    padding: 0.8rem;
    margin-left: auto;
    font-size: 1.3rem;
    color: #179E86;
    background-color: #e8fdff;
    border: 1px solid #000000;
    border-radius: 4px;
    transition: 0.3s ease; }
    #nav-bar .compose-tweet-button:hover {
      color: #000000;
      background-color: #ffffff;
      cursor: pointer; }

.new-tweet {
  display: none;
  padding: 0.5rem;
  margin-bottom: 3rem;
  background-color: #eeeeee;
  border: 1px solid #D3D3D3;
  border-radius: 4px; }
  .new-tweet h2 {
    margin-top: 0.5rem;
    border-bottom: 1px solid #000000; }
  .new-tweet .new-tweet-textarea {
    width: 100%;
    padding: 0.25rem; }
  .new-tweet .counter {
    float: right;
    margin-top: 0.5rem;
    font-style: italic; }
  .new-tweet .error-message {
    margin-left: 0.5rem;
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.1s linear; }
    .new-tweet .error-message.visible {
      opacity: 1;
      visibility: visible; }

#new-tweet-button {
  padding: 0.25rem 1rem;
  margin-top: 0.25rem;
  color: #ffffff;
  background-color: #179E86;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease; }
  #new-tweet-button:hover {
    opacity: 0.8; }
  #new-tweet-button.disabled, #new-tweet-button.disabled:hover {
    opacity: 0.5;
    cursor: not-allowed; }

.error {
  color: #ff0000; }

#tweets-container {
  opacity: 0.8; }

.tweet {
  margin-bottom: 2rem;
  border: 1px solid #D3D3D3;
  border-radius: 4px;
  transition: 0.3s ease; }
  .tweet header {
    display: flex;
    padding: 0.5rem;
    background-color: #eeeeee;
    border-radius: 4px; }
  .tweet footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    font-size: 0.9rem;
    border-top: 1px solid #D3D3D3; }
  .tweet .avatar {
    max-width: 50px;
    max-height: 50px;
    margin-right: 1rem; }
  .tweet .full-name {
    margin: 0;
    color: #667E85; }
  .tweet .username {
    margin-top: 0.3rem;
    margin-left: auto;
    color: #A0A0A0; }
  .tweet .content {
    padding: 1.5rem 0.5rem; }
  .tweet .tweet-actions {
    cursor: pointer;
    opacity: 0;
    transition: 0.2s ease; }
  .tweet:hover {
    border-color: #667E85;
    opacity: 1; }
    .tweet:hover .tweet-actions {
      opacity: 1; }
