#tweets-container {
  opacity: 0.8;
}

#tweets-container .tweet {
  margin-bottom: 2rem;
  border: 1px solid #D3D3D3;
  border-radius: 4px;
  transition: 0.3s ease;
}

#tweets-container .tweet header {
  display: flex;
  padding: 0.5rem;
  background-color: #eee;
  border-radius: 4px;
}

#tweets-container .tweet .avatar {
  max-width: 50px;
  max-height: 50px;
  margin-right: 1rem;
}

#tweets-container .tweet .full-name {
  margin: 0;
  color: #667E85;
}

#tweets-container .tweet .username {
  margin-top: 0.3rem;
  margin-left: auto;
  color: #A0A0A0;
}

#tweets-container .tweet .content {
  padding: 1.5rem 0.5rem;
}

#tweets-container .tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  font-size: 0.9rem;
  border-top: 1px solid #D3D3D3;
}

#tweets-container .tweet .tweet-actions {
  cursor: pointer;
  opacity: 0;
  transition: 0.2s ease;
}

#tweets-container .tweet:hover {
  border-color: #767676;
  opacity: 1;
}

#tweets-container .tweet:hover .tweet-actions {
  opacity: 1;
}
