#nav-bar {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0 $space-small;
  color: $color-off-white;
  background-color: $color-green;

  @include media($min: $bp-small) {
    height: 80px;
    padding: 0 $space-x-large;
  }

  .logo {
    max-width: 40px;

    @include media($min: $bp-small) {
      max-width: 80px;
    }
  }

  .header {
    margin-left: $space-xx-small;
    font-size: $font-medium-size;

    @include media($min: $bp-small) {
      font-size: $font-larger-size;
    }
  }
}

.compose-tweet-button {
  padding: $space-xxx-small;
  margin-left: auto;
  color: $color-green-light;
  background-color: $color-off-white;
  border: 1px solid $color-black;
  border-radius: $space-xxx-small;
  transition: 0.3s ease;

  @include media($min: $bp-small) {
    padding: $space-x-small;
    font-size: $font-medium-size;
  }

  &:hover {
    color: $color-black;
    background-color: $color-white;
    cursor: pointer;
  }
}
