html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  color: #244751;
  background-color: #eee;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  max-width: 450px;
  margin: 0 auto;
  background-color: #fff;
}
