html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  color: $color-dark-blue;
  background-color: $color-almost-white;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: $space-small;
  margin: 0 auto;
  background-color: $color-white;

  @include media($min: $bp-small) {
    max-width: 600px;
    padding: $space-x-large;
  }
}
